---
layout: default
title: Statistics 2023
permalink: /statistics2023
---
{% assign highlights = site.statistics | where: 'year', '2023' | where: 'highlight', 'true' %}
{% assign introduction = site.statistics | where: 'year', '2023' | where: 'introduction', 'true' %}
{% assign sections = site.statistics
  | where_exp: 'item', 'item.introduction != true and item.year ==
2023 and item.highlight != true'
  | sort: 'order'
%}

<section>{{ introduction }}</section>

<div>
  <h2>2023 Highlights</h2>
  <div>
    {% for highlight in highlights %}
      <div>
        <div>{{ highlight.title }}</div>
        <div>{{ highlight.content }}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% for section in sections %}
  <section>
    <h3>{{ section.title }}</h3>
    <div>{{ section.content }}</div>
  </section>
{% endfor %}
