---
title: Saskatchewan Information Library Services Consortium
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="SILSNG">
    {% include header.html %}
    <div class="Hero">
      <div class="Hero__wrapper">
        <h4 class="Hero__name">
          Saskatchewan Information Library Service <span class="Hero__name--thin">Consortium</span>
        </h4>
        <h1 class="Hero__title">
          <span class="Hero__title--line-one">One Province,</span><br>
          <span class="Hero__title--line-two">One Library Card</span>
        </h1>
      </div>
    </div>
    <div class="HomeBlock AboutUs">
      <div class="">
        <h2>About Us</h2>
        <p>
          One library card provides residents of Saskatchewan with easy access to materials held at over 300 public
          library branches.
        </p>
        <a href="/about">Learn More</a>
      </div>
      <!-- PARALLAX IMAGE GOES HERE -->
    </div>
    <div class="HomeBlock OurHistory">
      <div class="">
        <h2>Our History</h2>
        <p>
          The Saskatchewan Information and Library Services (SILS) Consortium is a not-for-profit corporation that was
          established in 2009.
        </p>
        <a href="/history">Learn More</a>
      </div>
      <!-- PARALLAX IMAGE GOES HERE -->
    </div>
    <div class="HomeBlock ContactUs">
      <div class="">
        <h2>Contact Us</h2>
        <p>Connect with your local library, or contact the SILS Office using a secure web form.</p>
        <a href="/contact-us">Learn More</a>
      </div>
      <!-- PARALLAX IMAGE GOES HERE -->
    </div>
    <div class="MemberLibraries">
      <div class="">Member Libraries</div>
      <div class="">
        Search the province-wide catalogue<br>
        or login to your online account.
      </div>
      <a href="/members">Access our catalogue</a>
    </div>
    {% include footer.html %}
  </body>
</html>
