---
title: Saskatchewan Information Library Services Consortium
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {% include header.html %}
    <div class="">
      <h4>Saskatchewan Information Library Service<span>Consortium</span></h4>
      <h1><span>One Province,</span><br /><span>One Library Card</span></h1>
    </div>
    <div class="">
      <div class="">
        <h2>About Us</h2>
        <p>
          One library card provides residents of Saskatchewan with easy access
          to materials held at over 300 public library branches.
        </p>
        <a href="/about">Learn More</a>
      </div>
      <!-- PARALLAX IMAGE GOES HERE -->
    </div>
    <div class="">
      <div class="">
        <h2>Our History</h2>
        <p>
          The Saskatchewan Information and Library Services (SILS) Consortium is
          a not-for-profit corporation that was established in 2009.
        </p>
        <a href="/history">Learn More</a>
      </div>
      <!-- PARALLAX IMAGE GOES HERE -->
    </div>
    <div class="">
      <div class="">
        <h2>Contact Us</h2>
        <p>
          Connect with your local library, or contact the SILS Office using a
          secure web form.
        </p>
        <a href="/contact">Learn More</a>
      </div>
      <!-- PARALLAX IMAGE GOES HERE -->
    </div>
    <div class="">
      <div class="">Member Libraries</div>
      <div class="">
        Search the province-wide catalogue<br />or login to your online account.
      </div>
      <a href="/members">Access our catalogue</a>
    </div>
    {% include footer.html %}
  </body>
</html>
