<footer class="Footer">
  <nav class="Footer__navigation">
    <ul class="FooterNav">
      <li class="FooterNav__item"><a href="/privacy-policy" class="FooterNav__link">Privacy Policy</a></li>
      <li class="FooterNav__item"><a href="/app" class="FooterNav__link">Mobile App</a></li>
      <li class="FooterNav__item"><a href="/contact-us" class="FooterNav__link">Contact Us</a></li>
    </ul>
  </nav>
  <div class="Footer__copyright">Saskatchewan Information and Library Services Consortium Inc. &copy;2020</div>
</footer>
