<footer class="footer">
  <div class="footer__content">
    <nav class="footer__menu_wrapper">
      <ul class="footer__menu">
        <li class="footer__link"><a href="/privacy-policy" class="link-footer">Privacy Policy</a></li>
        <li class="footer__link"><a href="/app" class="link-footer">Mobile App</a></li>
        <li class="footer__link"><a href="/contact-us" class="link-footer">Contact Us</a></li>
      </ul>
    </nav>
    <div class="footer__legal">Saskatchewan Information and Library Services Consortium Inc. &copy;2024</div>
  </div>
</footer>
