{% assign years = site.statistics | group_by: 'year' | sort: 'name' %}
<header class="">
  <a href="/" rel="Home" class="">
    <img src="" alt="Home">
  </a>
  <nav class="">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/statistics{{ years.last.name }}">Statistics</a></li>
      <li><a href="/services">Services</a></li>
    </ul>
  </nav>
</header>
