@import 'sils-style-guide/variables';
@import 'sils-style-guide/text';

// Header
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.25rem;
}
// .Logo {}
// .Logo--image {}

.Navigation {}
ul.Navigation__wrapper {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.Navigation li.Navigation__item {
  padding: 0;
  margin: 0 1rem 0 0;
}

.Navigation .Navigation__item .NavLink {
  font-family: AkagiPro-SemiBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  color: $secondary-medium-grey-2;
  letter-spacing: 0.67px;
}
.Navigation .Navigation__item .NavLink--active,
.Navigation .Navigation__item .NavLink:hover {
  color: $primary-blue;
}