---
---


// Global
body {
  font-family: AkagiPro-SemiBold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
  padding: 0;
}
a, a:link { text-decoration: none; }

@import 'sils-style-guide/style';
@import 'sils-style-guide/text';
@import 'header';
@import 'footer';

.header-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}
.page__banner {
  height: 5.625rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: $tertiary-white-grey;
}
.page__banner img { margin-top: -100px; }
.page__banner .parallax { filter: blur(3px); }
.page__banner::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(23,218,198,0.65);
}
.page__title {
  position: absolute;
}


.Hero {
  height: 508px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tertiary-white-grey;
  background-image: url(../SILS-homepage-hero-map-2560%402x.jpg);
  background-size: 1538px 508px;
  background-position: -80px 0;
  background-repeat: no-repeat;

  margin-bottom: 2rem;
}
.Hero__wrapper {
  padding: 1rem;
}
.Hero h4.Hero__name {
  font-size: 24px;
  font-family: AkagiPro-SemiBold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #24DAC6;
  margin: 0;
  padding: 0;
}
.Hero__name--thin {
  @extend %font-family-regular;
}
.Hero h1.Hero__title {
  font-size: 38px;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
.Hero__title--line-one { color: $tertiary-blue; }
.Hero__title--line-two { color: $primary-blue; }


.HomeBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 64px;
}
.HomeBlock__info {
  order: 2;
  width: 100%;
}
.HomeBlock__info h2 {
  text-align: left;
  padding: 0 20px;
}
.HomeBlock__info p {
  font-size: $font-size-22;
  line-height: 2rem;
  color: $secondary-medium-grey-1;
}
.HomeBlock__info .HomeBlock__learn_more_wrapper {
  margin: 4px 20px;
}
.HomeBlock .HomeBlock__info .HomeBlock__learn_more_wrapper .HomeBlock__learn_more { display: inline-block; height: auto; }
.HomeBlock__image {
  order: 1;
  overflow: hidden;
  width: 264px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.OurHistory .HomeBlock__info { order: 2; }
.OurHistory .HomeBlock__image { order: 1; }


.MemberLibraries {
  height: 546px;
  background-image: url(/assets/SILS-homepage-footer-image%402x.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MemberLibraries .MemberLibraries__title {
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: #2da1c0;
  font-family: AkagiPro-Bold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.MemberLibraries .MemberLibraries__action {
  text-align: center;
  font-size: 36px;
  color: #537295;
  font-family: AkagiPro-SemiBold,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 16px 0 56px 0;
}
.MemberLibraries .button-img { padding: 20px 20px 18px 20px; }


.header-libraries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 44px;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1320px;
  margin: 36px auto 0;
}
.header-library a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-library img {
  max-width: 130px;
  max-height: 84px;
  width: auto;
  height: auto;
}
section .members-header .header-libraries-search {
  text-align: center;
  font-family: AkagiPro-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.library-member {
  padding: 56px 0 32px;
}
.library-member .libraries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 24px 0 0;
  text-align: center;
}
.library-member .libraries .library {
  min-width: 272px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 48px 64px;

  p {
    padding-bottom: 8px;
  }
}
.library-member .libraries .library .library__logo {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.library-member:nth-child(2n+1) {
  background-color: #F2F2F2;
}



.Statistics {
  background-color: $tertiary-white-grey;
  padding: 1.5rem 0;
}
h2.Statistics__heading {
  display: block;
  text-align: center;
}
.Statistics__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Statistics__statistics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  justify-items: center;
  align-items: center;
  max-width: 960px;
  text-align: center;
}
.Statistics__statistic { text-align: center; }
.Statistics__highlight {
  font-size: 1.125rem;
  color: #696A6C;
  margin-bottom: 0.5rem;
}
.Statistics__highlight small {
  display: block;
  font-size: 0.875rem;
}
.Statistics__number {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  color: #000;
  font-family: AkagiPro-SemiBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


@media screen and (min-width: $break-tablet) {
  .HomeBlock {
    flex-direction: row;
  }
  .HomeBlock__info {
    order: 1;
    max-width: 246px;
    margin-left: 24px;
    margin-right: 8px;
    text-align: left;
  }
  .HomeBlock__image {
    order: 2;
    width: 427px;
    height: 226px;
  }

  .library-member .libraries .library {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header-libraries {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .library-member .libraries {
    grid-template-columns: 1fr 1fr;
  }

  .Statistics__statistics {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .page__banner {
    height: 18.75rem;
  }
}

@media screen and (min-width: $break-desktop) {
  .Hero h1.Hero__title {
    font-size: 100px;
  }
  .Hero h4.Hero__name {
    font-size: 30px;
    margin: 0;
    padding: 40px 0 8px;
  }

  .HomeBlock__info {
    max-width: 440px;
    margin-left: 64px;
    margin-right: 16px;
  }
  .HomeBlock__image {
    width: 552px;
    height: 292px;
  }

  .header-libraries {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .header-library img {
    max-width: 165px;
    max-height: 136px;
  }

  .library-member .libraries {
    padding: 52px 0 0;
    margin-bottom: 0;
  }

  .HomeBlock__image {
    width: 552px;
    height: 292px;
  }

  .MemberLibraries .MemberLibraries__title {
    font-size: 44px;
  }
  .MemberLibraries .MemberLibraries__action {
    font-size: 72px;
  }
}

@media screen and (min-width: $break-desktop-hd) {
  .Hero {
    height: 844px;
    background-size: cover;
    background-position: 0 0;
  }

  .library-member .libraries {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .HomeBlock__image {
    width: 635px;
    height: 336px;
  }
  .HomeBlock__info {
    margin-left: 96px;
    margin-right: 24px;
  }
}