<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class="SILSNG">
    {% include header.html %}
    <div class="header-image-wrapper">
      <div class="page__banner">
        {% if page.banner %}
          <img src="{{ page.banner }}" alt="{{ page.title }}" class="parallax">
        {% endif %}
      </div>
      <h1 class="page__title">{{ page.title }}</h1>
    </div>
    <section>{{ content }}</section>
    {% include footer.html %}
  </body>
</html>
