---
layout: default
---
{% assign searchableLibraries = site['library-regions'] | where: 'searchable', 'true' %}

<section style="padding-top:0;">
  <div class="members-header">
    <hr>
    <div class="header-libraries">
      {% for region in searchableLibraries %}
        <div class="header-library">
          <a href="{{ region.website }}"><img src="{{ region.logo }}" alt="{{ region.name }} logo"></a>
        </div>
      {% endfor %}
    </div>
    <hr>
    <p class="header-libraries-search">
      To search the province-wide catalogue or login to your online account, choose your library above.
    </p>
  </div>
  {{ content }}
</section>

{% assign municipal = site['library-regions'] | where: 'region', 'Municipal Libraries' | group_by: 'region' %}
{% assign regional = site['library-regions'] | where: 'region', 'Regional Library Systems' | group_by: 'region' %}
{% assign northern = site['library-regions'] | where: 'region', 'Northern Library System' | group_by: 'region' %}
{% assign provincial = site['library-regions'] | where: 'region', 'Provincial Library' | group_by: 'region' %}

{% for region in municipal %}
  <section class="library-member">
    <div class="content-wrapper">
      <h4 class="centered">{{ region.name }}</h4>
      <div class="libraries">
        {% for library in region.items %}
          {% include library-member.html name=library.name url=library.website address_line_1=library.address_line_1 address_line_2=library.address_line_2 logo=library.logo %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}

{% for region in regional %}
  <section class="library-member">
    <div class="content-wrapper">
      <h4 class="centered">{{ region.name }}</h4>
      <div class="libraries">
        {% for library in region.items %}
          {% include library-member.html name=library.name url=library.website address_line_1=library.address_line_1 address_line_2=library.address_line_2 logo=library.logo %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}

{% for region in northern %}
  <section class="library-member">
    <div class="content-wrapper">
      <h4 class="centered">{{ region.name }}</h4>
      <div class="libraries">
        {% for library in region.items %}
          {% include library-member.html name=library.name url=library.website address_line_1=library.address_line_1 address_line_2=library.address_line_2 logo=library.logo %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}

{% for region in provincial %}
  <section class="library-member">
    <div class="content-wrapper">
      <h4 class="centered">{{ region.name }}</h4>
      <div class="libraries">
        {% for library in region.items %}
          {% include library-member.html name=library.name url=library.website address_line_1=library.address_line_1 address_line_2=library.address_line_2 logo=library.logo %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}
