---
layout: default
---
{% assign years = site.statistics | group_by: 'year' | sort: 'name' %}

{% assign highlights = site.statistics | where: 'year', page.year | where: 'highlight', 'true' | sort: 'order' %}
{% assign introduction = site.statistics | where: 'year', page.year | where: 'introduction', 'true' %}
{% assign sections = site.statistics
  | where_exp: 'item', 'item.introduction != true and item.year ==
page.year and item.highlight != true'
  | sort: 'order'
%}

<section>{{ introduction }}</section>

<div>
  <h2>{{ page.year }} Highlights</h2>
  <div>
    {% for highlight in highlights %}
      <div>
        <div>{{ highlight.title }}</div>
        {% if highlight.subtitle %}
          <div>{{ highlight.subtitle }}</div>
        {% endif %}
        <div>{{ highlight.content }}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% for section in sections %}
  <section>
    <h3>{{ section.title }}</h3>
    <div>{{ section.content }}</div>
  </section>
{% endfor %}

<div class="">
  More statistics available here:
  {% for year in years reversed %}
    <a href="/statistics{{ year.name }}">{{ year.name }}</a>
    {%- if forloop.last == false %},{% endif %}
  {% endfor %}
</div>
