---
layout: default
---
{% assign years = site.statistics | group_by: 'year' | sort: 'name' %}

{% assign highlights = site.statistics | where: 'year', page.year | where: 'highlight', 'true' | sort: 'order' %}
{% assign sections = site.statistics
  | where_exp: 'item', 'item.year == page.year and item.highlight != true'
  | sort: 'order'
%}

<section>{{ content }}</section>

<div class="Statistics">
  <h2 class="Statistics__heading">{{ page.year }} Highlights</h2>
  <div class="Statistics__wrapper">
    <div class="Statistics__statistics">
      {% for highlight in highlights %}
        <div class="Statistics__statistic">
          <div class="Statistics__highlight">
            {{ highlight.title }}
            {% if highlight.subtitle %}
              <small>{{ highlight.subtitle }}</small>
            {% endif %}
          </div>

          <div class="Statistics__number">{{ highlight.content | strip_html }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% for section in sections %}
  <section>
    <h3>{{ section.title }}</h3>
    <div>{{ section.content | scrollable_tables }}</div>
  </section>
{% endfor %}

<div class="">
  More statistics available here:
  {% for year in years reversed %}
    <a href="/statistics{{ year.name }}">{{ year.name }}</a>
    {%- if forloop.last == false %},{% endif %}
  {% endfor %}
</div>
